<!-- <header>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="">GARAGE 42</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Nuevos ingresos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Catalogo</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contactanos</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header> -->



<header class="primary-header">
  <nav class="navbar container">
      <a href="index.html" class="logo">GARAGE 42</a>
      <ul class="nav-list">
          <li>
              <a href="index.html" class="nav-link">Home</a>
          </li>
          <li>
              <a href="#" class="nav-link">Pricing</a>
          </li>
          <li>
              <a href="#" class="nav-link">Dates</a>
          </li>
          <li>
              <a href="#" class="nav-link">Testimonials</a>
          </li>
          <li>
              <a href="#" class="nav-link">Contact</a>
          </li>
      </ul>
      <a href="#" class="button">Book now</a>
  </nav>
</header>

<section class="hero"></section>
<section class="demo-content"></section>
  
<script>
  const isScrolling = () => {
    const headerEl = document.querySelector('.primary-header')
    let windowPosition = window.scrollY > 250
    headerEl.classList.toggle('active', windowPosition)
  }
  window.addEventListener('scroll', isScrolling)
</script>