<!DOCTYPE html>

<html lang="es">
  <%- include('../partials/head.ejs') %>
<body>
  <%- include('../partials/header.ejs') %>
    <main>
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item">
                <svg class="bd-placeholder-img bd-placeholder-img-lg d-block w-100" width="800" height="400" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: First slide" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><image href="/images/banners/1.jpg" width="800" height="400" preserveAspectRatio="xMidYMid slice" /></svg>
              </div>
              <div class="carousel-item active">
                <svg class="bd-placeholder-img bd-placeholder-img-lg d-block w-100" width="800" height="400" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: First slide" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><image href="/images/banners/2.jpg" width="800" height="400" preserveAspectRatio="xMidYMid slice" /></svg>
              </div>
              <div class="carousel-item">
                <svg class="bd-placeholder-img bd-placeholder-img-lg d-block w-100" width="800" height="400" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: First slide" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><image href="/images/banners/1.jpg" width="800" height="400" preserveAspectRatio="xMidYMid slice" /></svg>
              </div>
            </div>
          </div>

          <article>
            <div class="carrousel-logos">
                <div><a href="/"><img class="logo-marca"  src="/images/brands/audi.png"></a></div>
                <div><a href="/"><img class="logo-marca"  src="/images/brands/chevrolet.png"></a></div>
                <div><a href="/"><img class="logo-marca"  src="/images/brands/fiat.png"></a></div>
                <div><a href="/"><img class="logo-marca"  src="/images/brands/ford.png"></a></div>
                <div><a href="/"><img class="logo-marca"  src="/images/brands/hyundai.jpg"></a></div>
                <div><a href="/"><img class="logo-marca"  src="/images/brands/kia.jpg"></a></div>
                <div><a href="/"><img class="logo-marca"  src="/images/brands/mercedesbenz.png"></a></div>
                <div><a href="/"><img class="logo-marca"  src="/images/brands/peugeot.png"></a></div>
                <div><a href="/"><img class="logo-marca"  src="/images/brands/tenault.jpg"></a></div>
                <div><a href="/"><img class="logo-marca"  src="/images/brands/toyota.jpg"></a></div>
                <div><a href="/"><img class="logo-marca"  src="/images/brands/volkswagen.png"></a></div>
            </div>
          </article>
    </main>

    <%- include('../partials/footer.ejs') %>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>
</body>
</html>